.hidden {
    display:none
}

#dev {
  cursor: pointer;  
}

#popUpFrame{
  border:1px solid black;
  width: 600px;
  height:700px;
  margin-top:20px;
  padding:10px;
  overflow: hidden; /* Hide scrollbars */
}